
:root {
    --color-terminal: #292b36;
    --borde-redondo: 4px;
}

* {
     font-family: 'Fjalla One', sans-serif;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E222;
    color: #292b36;
}

input, button {
    border: none;
    outline: none;
}

main {
    padding: 25px;
    box-shadow: 8px 8px 35px 0px  rgb(0 0 0 / 75%);
    border-radius: var(--borde-redondo);
}

h1 {
    margin: 0;
}

#input-original, #resultado {
    background-color: var(--color-terminal);
    width: 600px;
    
}

#input-original {
    margin: 10px 0 0;
    padding: 10px;
    color: #fff;
    border-bottom-left-radius: var(--borde-redondo);
    border-bottom-right-radius: var(--borde-redondo);
}

#resultado {
    min-height: fit-content;
    color: #22E657;
    padding: 0 10px 10px;
    border-bottom-left-radius: var(--borde-redondo);
    border-bottom-right-radius: var(--borde-redondo);
}

.rango {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    text-align: center;
    align-items: center;
}

#rango {
    -webkit-appearance: none;
    border-radius: var(--borde-redondo);
    background: var(--color-terminal);
    margin: 0;
    padding: 0 5px;
    height: 20px;
}

#rango::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    background: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}